.task-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--screen-background);
    padding: 15px;
    margin-bottom: 1px;
}

.task-select{
    width: 20px;
    height: 20px;
    border: solid 2px var(--icons-weigth-color);
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.checked{
    border:0;
    background: linear-gradient(to right,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.task-message{
    margin-left: 10px;
    color: var(--primary-font);
    width: 90%;
}

.completed{
    text-decoration: line-through;
    color: var(--icons-weigth-color);
}