.todo-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.banner-wrapper{
    height: 30%;
    width: 100%;
}

.banner-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bg-default{
    width: 100%;
    height: 70%;
    background-color: var(--primary-background);

}